<div class="container">
  <div class="well">
  <h4>Dealer has:</h4>
  <% session[:dealer].hand.each_with_index do |card, index| %>
    <% if session[:stage] != 'play_p' %>
      <%= show_card(card) %>
    <% else %>
      <% if index == 0 %>
        <img src=<%= "/images/cards/cover.jpg" %> class=card_image>
      <% else %>
        <%= show_card(card) %>
      <% end %>
    <% end %>
  <% end %>
  <% if session[:stage] != 'play_p' %>
    <h5><%= "Dealer has #{session[:dealer].value} points" %></h5>
  <% end %>
  </div>

  <div class="well">
  <h4><%= session[:player_name] %>, you have:</h4>
  <% session[:player].hand.each do |card| %>
    <%= show_card(card) %>
  <% end %>
  <h5><%= "You have #{session[:player].value} points" %></h5>
  </div>
</div>

<div class="container">
  <% if session[:stage] == 'play_p' %>
    <h5>Make your choice</h5>
    <form action="/player_round" method="post">
      <input type="radio" name="hit_stay" value="hit">Hit<br>
      <input type="radio" name="hit_stay" value="stay">Stay<br>
      <br>
      <input type="submit" class="btn btn-primary"/>
    </form>
  <% end %>

  <% if session[:stage] == 'play_d' %>
    <h5>See another dealer card!</h5>
    <form action="/dealer_round" method="post">
      <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
  <% end %>

  <% if session[:stage] == 'showdown' %>
    <h5> Showdown results:</h5>
    <% if session[:player].value > session[:dealer].value %>
      <%= "You win with #{session[:player].value} against #{session[:dealer].value}!" %>
    <% elsif session[:player].value < session[:dealer].value %>
      <%= "Dealer wins with #{session[:dealer].value} against #{session[:player].value}." %>
    <% else %>
      <%= "It's a tie at #{session[:player].value}." %>
    <% end %>
  <% end %>

  <% if session[:stage] == 'endgame' %>
    <% if session[:dealer].blackjack? %>
      <h5> Sorry, dealer hits blackjack. You lose. </h5>
    <% elsif session[:dealer].busted? %>
      <h5> Congratulations, dealer busted! You win! </h5>
    <% elsif session[:player].blackjack? %>
      <h5> Congratulations, you hit blackjack! You win! </h5>
    <% else %>
      <h5> Sorry, it looks like you busted. </h5>
    <% end %>
  <% end %>

  <% if session[:stage] == 'showdown' || session[:stage] == 'endgame' %>
    <h5> Play again? </h5>
    <form action="/play_again" method="post">
      <input type="radio" name="play_again" value="yes">Yes<br>
      <input type="radio" name="play_again" value="no">No<br>
      <br>
      <input type="submit" class="btn btn-primary"/>
    </form>
  <% end %>
</div>