<div class="container">
  <div class="well">
  <h4><%= session[:player_name] %> has:</h4>
  <% session[:player].hand.each do |card| %>
  <img src=<%= "/images/cards/"+card.suit+"_"+card.value+".jpg" %>>
  <% end %>
  </div>

  <br>

  <div class="well">
  <h4>Dealer has:</h4>
  <% session[:dealer].hand.each do |card| %>
    <% if session[:stage] == 'showdown' || session[:stage] == 'endgame' %>
      <img src=<%= "/images/cards/"+card.suit+"_"+card.value+".jpg" %>>
    <% else %>
      <img src=<%= "/images/cards/cover.jpg" %>>
    <% end %>
  <% end %>
  </div>
</div>

<div class="container">
  <% if session[:stage] == 'play' %>
    <h4>Make your choice</h4>
    <form action="/player_round" method="post">
      <input type="radio" name="hit_stay" value="hit">Hit<br>
      <input type="radio" name="hit_stay" value="stay">Stay<br>
      <br>
      <input type="submit" class="btn btn-primary"/>
    </form>
  <% end %>

  <% if session[:stage] == 'showdown' %>
    <h4> Showdown results:</h4>
    <% if session[:player].value > session[:dealer].value %>
      <%= "You win with #{session[:player].value} against #{session[:dealer].value}!" %>
    <% elsif session[:player].value < session[:dealer].value %>
      <%= "Dealer wins with #{session[:dealer].value} against #{session[:player].value}." %>
    <% else %>
      <%= "It's a tie at #{session[:player].value}." %>
    <% end %>
  <% end %>

  <% if session[:stage] == 'endgame' %>
    <% if session[:dealer].blackjack? %>
      <h4> Sorry, dealer hits blackjack. You lose. </h4>
    <% elsif session[:dealer].busted? %>
      <h4> Congratulations, dealer busted! You win! </h4>
    <% elsif session[:player].blackjack? %>
      <h4> Congratulations, you hit blackjack! You win! </h4>
    <% else %>
      <h4> Sorry, it looks like you busted. </h4>
    <% end %>
  <% end %>

  <br>

  <% if session[:stage] == 'showdown' || session[:stage] == 'endgame' %>
    <h4> Play again? </h4>
    <form action="/play_again" method="post">
      <input type="radio" name="play_again" value="yes">Yes<br>
      <input type="radio" name="play_again" value="no">No<br>
      <br>
      <input type="submit" class="btn btn-primary"/>
    </form>
  <% end %>
</div>